@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutCliente";
    
}


<link rel="stylesheet" href="~/css/Ticket/Index.css" asp-append-version="true" />
<div id="fondoOscuro"></div>
<div class="panelnotif" style="display:none;" data-ticket="@TempData["ticket"]" data-bitacora="@TempData["bitacora"]">
    <button onclick="cerrar()" class="cerrar">X</button>
    <h3>Ticket N° @TempData["ticket"]</h3>
    <textarea>@TempData["bitacora"]</textarea>
    <form asp-action="MarcarLeido" method="post">
        <input type="type" name="notificacion" value="@TempData["notificacion"]" />
        <input type="type" name="vistaOrigen" value="Index" />
        <button type="submit" class="leido">Marcar como leido</button>
    </form>
    
</div>
<div class="principal">
    <div class="label1">
        <h2>Crear consulta técnica</h2>

    </div>


    <div class="formulario">
        @using (Html.BeginForm("ArmarTicket", "Ticket", FormMethod.Post, new { @class="full-width-form"}))
        {
            <div class="fila">
                <div class="textoformulario">
                    <h3>Seleccione categoría del problema</h3>
                </div>
                @Html.DropDownList("Categoria", (SelectList)ViewBag.ListaPrio, "Problema", new { @class = "form-control" })
            </div>
            <div class="fila">
                <div class="textoformulario">
                    <h3>Describa su problema :</h3>
                </div>
                <textarea id="descripcion" type="text" name="descripcion" placeholder="Descripción (máx. 255 carácteres)"></textarea>
            </div>
            <input type="hidden" name="prioridad" id="prioridad" />
            <div class="button-container">
                <button id="botoncrear" type="submit">Crear</button>
            </div>
        }
    </div>
    <div class="button-container">
        <button id="botoncerrar" onclick="cerrarVentana()">Volver</button>
    </div>
</div>





    <script>
        // Este script se ejecutará cuando se cambie la selección en el DropDownList
        $(document).ready(function () {
            $('#Categoria').change(function () {
                // Obtener el valor seleccionado del DropDownList
                var valorSeleccionado = $(this).val();
                // Establecer el valor seleccionado en el campo oculto
                console.log(valorSeleccionado);
                $('#prioridad').val(valorSeleccionado);
            });

        const panelNotif = $('.panelnotif');
        const panelprincipal = $('.principal');

        // Check if the data attributes are set
        const ticket = panelNotif.data('ticket');
        const bitacora = panelNotif.data('bitacora');

        if (ticket && bitacora) {
            panelNotif.css('display', 'block');
            
            $('#fondoOscuro').css('display', 'block'); // Mostrar fondo oscuro
        }
        });
    document.addEventListener('DOMContentLoaded', function () {
        const btnAbajo = document.querySelector('.btn-abajo');
        const cerrarSesionDiv = document.querySelector('.cerrarSesion');

        btnAbajo.addEventListener('click', function () {
            cerrarSesionDiv.classList.toggle('mostrar');
        });
    });

    function cerrar() {
        const panelNotif = $('.panelnotif');
        const panelprincipal = $('.principal');
        panelNotif.css('display', 'none');
        $('#fondoOscuro').css('display', 'none');
    }
    function cerrarVentana() {
        window.location.href = "/Ticket/misTickets";
    }
    </script>


