@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutCliente";
}
    <link rel="stylesheet" href="~/css/Ticket/misTickets.css"> <!-- Asegúrate de que la ruta sea correcta -->
<div id="fondoOscuro"></div>
<div class="panelnotif" style="display:none;" data-ticket="@TempData["ticket"]" data-bitacora="@TempData["bitacora"]">
    <button onclick="cerrar()" class="cerrar">X</button>
    <h3>Ticket N° @TempData["ticket"]</h3>
    <textarea>@TempData["bitacora"]</textarea>
    <form asp-action="MarcarLeido" method="post">
        <input type="type" name="notificacion" value="@TempData["notificacion"]" />
        <input type="type" name="vistaOrigen" value="Index" />
        <button type="submit" class="leido">Marcar como leido</button>
    </form>

</div>
<div class="principal">
        <h1>Mis Tickets de ayuda</h1>
        <table>
            <tr>
                <th>Id Ticket</th>
                <th>Problema</th>
                <th>Estado</th>
                <th>Tecnico</th>
                <!-- Añade más columnas según los atributos de tu clase Ticket -->
            </tr>
            @foreach (var ticket in Model)
            {
                <tr>
                    <td>@ticket.IdTicket</td>
                    <td>@ticket.Problema</td>
                    <td>@ticket.EstCli</td>
                    <td>@ticket.Tecnico</td>
                    <!-- Añade más celdas según los atributos de tu clase Ticket -->
                </tr>
            }
        </table>
       

</div>

    <!-- Script para la función de redirección -->
    <script>
        $(document).ready(function () {
            
            const panelNotif = $('.panelnotif');
            const panelprincipal = $('.principal');

            // Check if the data attributes are set
            const ticket = panelNotif.data('ticket');
            const bitacora = panelNotif.data('bitacora');

            if (ticket && bitacora) {
                panelNotif.css('display', 'block');

                $('#fondoOscuro').css('display', 'block'); // Mostrar fondo oscuro
            }
        });
        function cerrar() {
            const panelNotif = $('.panelnotif');
            const panelprincipal = $('.principal');
            panelNotif.css('display', 'none');
            $('#fondoOscuro').css('display', 'none');
        }
    </script>

<div class="center-button">
    <button onclick="redirigirCrearConsulta()">Crear consulta tecnica</button>

</div>

<script>
    function redirigirCrearConsulta() {
        window.location.href = "/Ticket/Index";
    }
</script>
<!--FIN-->