@using Proyecto_Tickets.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutGeneral";
}
@model IEnumerable<Proyecto_Tickets.Models.Ticket>

<link rel="stylesheet" href="~/css/Administrador/ListaTickets.css" asp-append-version="true" />

<div class="content-container">
    <div class="principal">
        <div class="label1">
            <h2>Tickets en el sistema</h2>
        </div>
        <div class="formulario">
            <table>
                <tr>
                    <th>Id Ticket</th>
                    <th>Id Cliente</th>
                    <th>Id Tecnico</th>
                    <th>Descripción</th>
                    <th>Codigo de estado</th>
                    <th>Prioridad</th>
                </tr>
                @foreach (var ticket in Model)
                {
                    <tr>
                        <td>@ticket.IdTicket</td>
                        <td>@ticket.IdCliente</td>
                        <td>@ticket.IdTecnico</td>
                        <td>@ticket.Descripcion</td>
                        <td>@ticket.EstadoTecnico</td>
                        <td>@ticket.IdPrioridad</td>
                    </tr>
                }
            </table>
        </div>
        <div class="center-button">
            <button onclick="volver()">Volver</button>
        </div>
    </div>
</div>

<script>
    function volver() {
        window.location.href = "/Administrador/Index";
    }
</script>
@* fin *@
