@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/TicketTecnico/examinar.css" asp-append-version="true" />

@model Ticket

<div class="background">
    <div class="ticket-container">
        <div class="title">Información del Ticket</div>
        <div class="ticket-info">
            <div class="info-label">id Ticket:</div>
            <div class="info-value">@Model.idTicket</div>

            <div class="info-label">Estado:</div>
            <div class="info-value">@Model.Estado</div>

            <div class="info-label">Prioridad:</div>
            <div class="info-value">@Model.IdPrioridad</div>

            <div class="info-label">Bloqueado:</div>
            <div class="info-value">@Model.Bloqueado</div>

            <div class="info-label">Descripción:</div>
            <div class="info-value"><textarea readonly>@Model.Descripcion</textarea></div>
        </div>
    </div>
</div>
