@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Ticket


<h1>Ticket: @Model.IdTicket</h1>
<h1>Estado: @Model.EstTec</h1>
<h1>Prioridad: @Model.IdPrioridad</h1>
<h1>Bloqueado: @Model.Bloqueado</h1>
<h1>
    Descripcion:<textarea> @Model.Descripcion </textarea>
</h1>

